@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

.fundo {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(10px);
  z-index: 0;
}

.game-board {
  position: relative;
  width: 1300px;
  height: 700px;
  margin: 200px auto;
  border: 2px solid #c00ed8;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

#game {
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.65);
  z-index: 10;
}

.overlay-box {
  background: rgba(20, 20, 20, 0.5);
  padding: 24px;

  text-align: center;
  font-family: "Press Start 2P", system-ui;
  color: #fff;
  border-radius: 20px;
}

.overlay-box h1 {
  font-size: 16px;
  margin-bottom: 18px;
}

.choices {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.choice {
  cursor: pointer;
  background: rgba(20, 20, 20, 0.5);
  border: 2px solid #444;
  padding: 12px;
  width: 250px;
  color: #fff;
  font-family: inherit;
  border-radius: 25px;
}

.choice:hover {
  border-color: #c00ed8;
}

.choice img {
  width: 200px;
  height: 200px;
}

.choice span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
}
